@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .3s ease;
}

:root{
    --blue: #1775f1;
    --dark-blue: #0c5fcd;
    --black: #444;
    --light: #777;
    --box-shadow: .5rem .5rem 0 rgba(0,0,133, .2);
    --border: .2rem solid var(--blue);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth; 
}
header{
    position: fixed;
    padding: 2rem 9%;
    top: 0; left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    z-index: 1000;
}
header .logo{
    
    font-size: 2.5rem;
    color: var(--black);
}
header .logo i{
    color: var(--blue);
}
header .navbar a{
    font-size: 1.7rem;
    color: var(--light);
    margin-left: 2rem;
}

section{
    padding: 2rem 9%;
}
.footer{
    background: #f1f8f6;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}
.footer .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color: var(--light);
    padding: 1rem 0;
}
.footer .bottom{
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    color: var(--light);
    border-top: var(--border); 
}
.footer .bottom span{
    color: var(--blue);
    font-weight: 600;
}


@media (max-width: 991px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menubtn{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        border-bottom: 2px solid var(--blue);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a{
        display: block;
        font-size: 2.2rem;
        margin: 0;
        padding: 1.5rem 2rem
    }
    .home{
        flex-wrap: wrap-reverse;
    }
    .home .image img{
        width: 50rem;
        height: 45rem;
    }
}
@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
}





.main{
    padding-top: 100px;
    line-height: 2;
    margin: 0 20px 0 20px;
}
.main img{
    width: 50%;
    height: 100%;
}
.main .img{
    text-align: center;
}

.main p, li{
    font-size: medium;
}